<!-- Default home page -->

<div class="default-page">
  <div class="header">
    <h1 id="main-title" class="container"><%= __('This is Sail.') %></h1>
    <h3 class="container">You're looking at: <code><%= view.pathFromApp + '.' +view.ext %></code></h3>
  </div>
</div>

